<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Product</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div  th:replace="fragments/menu"></div>
	<h1>Product</h1>
	<form action="#" th:object="${product}" th:action="@{/product/save}" method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Price: <input type="text" th:field="*{price}" />
		</p>
		<p>
			Currency:
			<select th:field="*{currency}">
                <option value=""></option>
                <option th:each="currency : ${currencies}" th:value="${currency}"  th:text="${currency}"></option>
            </select>
		</p>
		<p>
			Category: 
			 <select th:field="*{category}">
                <option value=""></option>
                <option th:each="category : ${categories}" th:value="${category.id}"  th:text="${category.name}"></option>
            </select>
		</p>
		<button type="submit">Salvar</button>
		<a th:href="@{/product}">Cancelar</a>
	</form>

</body>
</html>